@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=New+Rocker&display=swap');
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: rgb(0, 0, 0);
  display: grid;
  grid-template-rows: 75px 1fr 22px;
  
  &::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    background: url(images/guitar-2.jpg) center/cover;
    opacity: .25;
    filter: grayscale(1);
  }
}
*::selection {
  color: black;
  background-color: white;
}
h1,
h2,
h3 {
  color: white;
  font-family: "New Rocker", serif;
  font-weight: 400;
  font-style: normal;
}
span {
  color: white;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 500;
  font-style: light;
}
img {
  width: 100%;
  filter: grayscale(1);
  color: white;
}
small {
  font-size: 14px;
}
header {
  background-color: rgb(34, 34, 34);

  & > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px 15px 15px;
    height: 75px;
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
    gap: 15px;

    img {
      height: 100%;
      filter: invert(1);
    }
    a {
      text-decoration: none;
      height: 100%;
      display: flex;
      gap: 15px;
      flex-direction: row;
      align-items: center;
      color: white;
      font-family: "New Rocker", serif;
      font-weight: 400;
      font-style: normal;
    }
    span {
      font-size: 48px;
      color: transparent;
      font-family: "New Rocker", serif;
      font-weight: 400;
      font-style: normal;
      background-image: url(images/eye-2.jpg);
      filter: grayscale(1);
      background-size: cover;
      background-position: center;
      background-clip: text;
      /* animation: moveBackground 20s infinite ease; */
    }
    div {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 15px;
  
      a {
        padding: 5px 10px;
        border: 1px solid white;
        background-color: grey;
      }
      a:hover {
        border-color: grey;
        background-color: white;
        color: grey;
      }
    }
  }
}
.overlay {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, .5);
  backdrop-filter: blur(2px);

  & > button {
    all: unset;
    display: none;
    width: 80%;
    border: 1px solid white;
    box-sizing: border-box;
    padding: 5px;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.8);

    span {
      text-align: center;
      color: white;
      font-size: 58px;
    }
    img {
      filter: unset;
    }
  }
}
.main {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
  box-sizing: border-box;
  padding: 15px;
  position: relative;
  overflow: hidden;
  display: grid;
  grid-template-rows: auto 1fr;


  &.full-height {
    grid-template-rows: 1fr;
  }
  .mainImg {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
  
    div {
      inset: 0;
      padding: 15px 25px;
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6) 40%, transparent 80%);
      color: white;
      
      a {
        text-decoration: none;
        font-family: "New Rocker", serif;
        font-weight: 400;
        font-style: normal;
        color: white;
        background-color: grey;
        border: 1px solid white;
        padding: 5px 10px;
        width: fit-content;
        margin-top: 16px;
      }
      a:hover {
        color: grey;
        background-color: white;
        border: 1px solid grey;
      }
      h1 {
        margin-top: 0;
        margin-bottom: 16px;
      }
    }
    span {
      font-size: 20px;
    }
  }
  .ads {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding-top: 50px;
    box-sizing: border-box;
    gap: 15px;
    height: 100%;

    & > a {
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: white;
      border: 1px solid grey;
      padding: 15px;
      height: fit-content;
      text-decoration: none;
      position: relative;
      overflow: hidden;

      &.about {
        align-self: flex-start;
      }
      &::after,
      &::before {
        content: "";
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.5);
        transform: scale(0);
        box-sizing: border-box;
      }
      &::after {
        content: ">";
        background-color: rgba(129, 129, 129, 0.5);
        transition-delay: 0s;
        font-size: 58px;
        padding: 15px;
        text-align: end;
        transition: transform 1s;
      }
      &::before {
        transition-delay: .1s;
        transition: transform 1s;
      }
      & > * {
        z-index: 1;
      }
      h1 {
        margin: 0;
      }
      .a {
        color: grey;
      }
      &:hover {
        &::after {
          transition-delay: .1s;
          transform: scale(1);
        }
        &::before {
          transition-delay: 0s;
          transform: scale(2);
          transition: transform 2s;
        }
      }
    }
  }
  .scroller {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px;
    border: 1px solid white;
    overflow: hidden scroll;
    scrollbar-width: auto;
    scrollbar-color: white black;

    .about-columns {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      height: 100%;
      gap: 20px;

      & > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid grey;

        & > div {
          padding: 0 15px;
          gap: 15px;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
        h1 {
          margin: 0;
        }
      }
      .guitar {
        justify-content: end;
      }
    }
    .gallery {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;

      button {
        all: unset;
        position: relative;
        overflow: hidden;

        & > div {
          display: flex;
          flex-direction: column;
          color: white;
          background-color: rgba(0, 0, 0, 0.7);
          border: 1px solid grey;
          position: absolute;
          left: -400px;
          bottom: 15px;
          padding: 5px 10px;
          transition: left 0.2s;

          h1 {
            margin: 0;
          }
        }
        &:hover {

          img {
            filter: grayscale(0);
          }
          & > div {
            left: 10px;
          }
        }
        img {
          transition: filter 1s;
          border: 1px solid white;
          box-sizing: border-box;
        }
      }
    }
    &::-webkit-scrollbar {
      width: 8px; /* Width of the scrollbar */
    }
    &::-webkit-scrollbar-track {
      background-clip: content-box;
      border: 2px solid transparent;
      border-radius: 10px;
      background-color: black;
    }
    &::-webkit-scrollbar-thumb {
      background-color: white; /* Color of the scroll thumb */
      border-radius: 10px; /* Rounded corners */
    }
    &::-webkit-scrollbar-thumb:hover {
      background-color: grey; /* Color on hover */
    }
  }
}
footer {
  background-color: grey;
  text-align: center;
}
@media (max-width:800px) {
  body > div {
    .scroller {
      .gallery {
        grid-template-columns: 1fr;
      }
    }
  }
}
/* @keyframes moveBackground {
  0% {
    background-position: -50px center;
  }
  50% {
    background-position: 50px center;
  }
  100% {
    background-position: -50px center;
  }
} */